<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        .main-bg{
            background-color: beige;
        }
    </style>

</head>

    <!-- The Body Begins Here -->
<body>
  
    <div class="row mx-md-n3">
        <div class="col px-md-3"><div class="p-3 border bg-light">Custom column padding</div></div>
        <div class="col px-md-3"><div class="p-3 border bg-light">Custom column padding</div></div>
      </div>


    <div class="mx-auto w-25">
        <h1>Centered element isa Bullshit</h1>
    </div>

 
    <div class="d-flex h-100 justify-content-center">
        <h1 class="p-2 border border-primary rounded">Demonstrating The Card Layout</h1>
    </div>

    <hr>
    
    <div class="d-flex justify-content-end">
        <h5>Justify-content-end using .flexbox</h5>
        <div class="p-3 mx-2 bg-primary text-white">d-inline</div>
        <div class="p-3 mx-2 bg-primary text-white">d-inline</div>
    </div>

    <hr>
    
    <div class="row justify-content-end">
        <h5>justify-content-end using .row</h5>
        <h1 class="p-2 mx-3 border border-primary rounded">This is row for center</h1>
    </div>


    <div class="d-block p-3 my-1 bg-primary text-white">Hellos</div>
    <div class="d-inline-block p-3 my-2 bg-success text-white">d-inline-3</div>

    <div class="d-block p-3 bg-warning text-white">d-block</div>
    
    <div class="d-inline-block p-3 m-3 bg-primary text-white cust-border ">d-inline</div>
    <div class="d-inline-block p-3 m-3 bg-primary text-white">d-inline</div>
    
    <div class="d-block p-3 bg-secondary text-white">Inlinus</div>
    
    <div class="d-inline-block px-3 py-2 mx-5 my-2 bg-primary text-white">d-inline</div>
    <div class="d-inline-block px-3 py-2 mx-5 my-2 bg-success text-white">d-inline-white-50</div>
    <div class="d-inline-block px-3 py-2 mx-5 my-2 bg-primary text-white">d-inline-black-50</div>

    <div class="d-block p-3 bg-secondary text-white">d-block</div>
    <div class="bg-primary p-3 w-50"></div>

    <hr>
    <hr>



<h1>Now heading to table Example</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-primary">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td>Pager</td>
                      <td>The Cookoo Foreship with Battleground</td>
                      <td>@kaleshbook</td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
</div>
   

    <hr>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                One of three columns
            </div>
            <div class="col align-self-center">
                One of three columns
            </div>
            <div class="col align-self-end">
                One of three columns
            </div>
        </div>
    </div>

    <hr>
    <hr>


    <div class="container">
        <div class="row justify-content-start">
            <div class="col-4">
                One of two columns
            </div>
            <div class="col-4">
                One of two columns
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                One of two columns
            </div>
            <div class="col-4">
                One of two columns
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-4">
                One of two columns
            </div>
            <div class="col-4">
                One of two columns
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                One of two columns
            </div>
            <div class="col-4">
                One of two columns
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4">
                One of two columns
            </div>
            <div class="col-4">
                One of two columns
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>